@font-face {
    font-family: "Circular";

    src: url("https://scite-production.azureedge.net/assets/fonts/circular/circular-book.eot?#iefix") format("embedded-opentype"),
         url("https://scite-production.azureedge.net/assets/fonts/circular/circular-book.woff2") format("woff2"),
         url("https://scite-production.azureedge.net/assets/fonts/circular/circular-book.woff") format("woff"),
         url("https://scite-production.azureedge.net/assets/fonts/circular/circular-book.ttf") format("truetype");
}

#scite-popup {
    z-index: 9999999999;
    
    position: fixed;
    right: 1rem;
    top: 1rem;
    
    padding: 1rem;
    line-height: 1.5;

    color: #0E1D1A;
    background-color: white;
    font-family: "Circular";
    border: 1px solid #ebebeb;

    cursor: pointer;
}

.scite-tally {
    min-width: 10rem;
}

.scite-tally > .title {
    display: block;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}


.scite-tally-row {
    display: flex;
    justify-content: space-between;
}

.scite-tally-row > .count {
    font-weight: bold;
}
