:global(.badges) {
  width: 45rem;
  margin: 0 auto;
}

:global(.badge-row) {
  display: flex;
  margin-top: 2rem;
}

:global(.paper) {
  margin: 0;
  padding: 0 1rem;
}

:global(.narrow) {
  position: relative;
  width: 17rem;
  height: 12rem;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

:global(.wide) {
  margin: 6rem auto;
  width: 60rem;
}
