.count {
  display: flex;
  font-size: 14.5px;
}

.label {
  display: inline-block;
  width: 82px;
  margin-right: 12px;
  text-transform: capitalize;
}

.smallLabel {
  margin-right: 6px;
  text-transform: capitalize;
}

.iconCountWrapper {
  display: inline-block;
  box-sizing: border-box;
}

.sectionTallyIconCountWrapper {
  display: flex;
  box-sizing: border-box;
}

.expandedIconCount {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.number {
  margin-left: 8px;
}

.smallNumber {
  margin-left: 6px;
}

.horizontal {
  border-left: 1px solid #cfcfcf;
  padding: 4px 8px;
}

.horizontal:first-child {
  border-left: none;
}

.horizontal > .label {
  width: auto;
}

.horizontal > .sectionTallyIconCountWrapper > .label {
  width: auto;
  vertical-align: middle;
}

.small {
  font-size: 10px;
  padding: 2px 4px;
}

.verticalContainer {
  width: 32px;
  padding: 4px 0;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.iconContainer {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numberContainer {
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numberContainer > .number {
  margin: 0;
  font-size: 14px;
}

.largeNumber {
  color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 1.5%;
  vertical-align: bottom;
  padding: 0 2px;
}

.number1k {
  font-size: 12px !important;
}

.number10k {
  font-size: 10px !important;
}

.number100k {
  font-size: 9px !important;
}

.number1m {
  font-size: 7px !important;
}