.count {
  display: flex;
  font-size: 14.5px;
}

.label {
  display: inline-block;
  width: 82px;
  margin-right: 12px;
  text-transform: capitalize;
}

.smallLabel {
  margin-right: 6px;
  text-transform: capitalize;
}

.iconCountWrapper {
  display: inline-block;
  box-sizing: border-box;
}

.sectionTallyIconCountWrapper {
  display: flex;
  box-sizing: border-box;
}

.expandedIconCount {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.number {
  margin-left: 8px;
}

.smallNumber {
  margin-left: 6px;
}

.horizontal {
  border-left: 1px solid #cfcfcf;
  padding: 4px 8px;
}

.horizontal:first-child {
  border-left: none;
}

.horizontal > .label {
  width: auto;
}

.horizontal > .sectionTallyIconCountWrapper > .label {
  width: auto;
  vertical-align: middle;
}

.small {
  font-size: 10px;
  padding: 2px 4px;
}
