.scite-tally * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.scite-tally {
    line-height: 1.5;
    padding: 8px;
    padding-right: 12px;

    color: #0E1D1A;
    background-color: white;
    font-family: "Circular";

    /* Something of a hack so we can avoid
       setting overflow: 'hidden' on the
       outer div whilst having a tooltip
       translated outside of it */
    border-radius: 8px 0 0 8px;

    cursor: pointer;

    will-change: opacity, background-color;
    transition: all 200ms ease-in-out;

    opacity: 0;
    pointer-events: none;

    display: flex;
    flex-direction: column;
}

.scite-tally.-horizontal {
    padding: 0 8px;
    flex-direction: row;
    height: 100%;
}

.scite-tally.-show {
    opacity: 1;
    pointer-events: auto;
}

.scite-tally:hover {
    background-color: #F4F4F4;
}

.scite-tally > .title {
    display: block;
    margin-bottom: 8px;
}

.scite-tally-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14.5px;
}

.scite-tally-count.-horizontal {
    border-left: 1px solid #cfcfcf;;
    padding: 4px 8px;
}

.scite-tally-count.-horizontal:first-child {
    border-left: none;
}

.scite-tally-count.-horizontal > .number {
    margin-left: 8px;
}
