#scite-popup-app {
    z-index: 9999999999;

    position: fixed;
    right: 0;
    top: 45%;

    border-radius: 8px 0 0 8px;
    border: 1px solid #cfcfcf;
    border-right: none;
    overflow: hidden;
}

.scite-tally * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.scite-tally {
    line-height: 1.5;
    padding: 8px;
    padding-right: 12px;

    color: #0E1D1A;
    background-color: white;
    font-family: "Circular";

    cursor: pointer;

    transition: all 200ms ease-in-out;

    opacity: 0;
    pointer-events: none;
}

.scite-tally.-show {
    opacity: 1;
    pointer-events: auto;
}

.scite-tally:hover {
    background-color: #F4F4F4;
}

.scite-tally > .title {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 20.8px;
    white-space: nowrap;
}

.scite-tally-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scite-tally-row {
    font-size: 14.5px;
}

/* Typography/icon font */
@font-face {
    font-family: "Circular";

    src: url("https://scite-production.azureedge.net/assets/fonts/circular/circular-book.eot?#iefix") format("embedded-opentype"),
         url("https://scite-production.azureedge.net/assets/fonts/circular/circular-book.woff2") format("woff2"),
         url("https://scite-production.azureedge.net/assets/fonts/circular/circular-book.woff") format("woff"),
         url("https://scite-production.azureedge.net/assets/fonts/circular/circular-book.ttf") format("truetype");
}


@font-face {
  font-family: 'scite-icons';
  src: url('https://scite-production.azureedge.net/assets/fonts/scite-icons/scite-icons.eot?68837754');
  src: url('https://scite-production.azureedge.net/assets/fonts/scite-icons/scite-icons.eot?68837754#iefix') format('embedded-opentype'),
       url('https://scite-production.azureedge.net/assets/fonts/scite-icons/scite-icons.woff2?68837754') format('woff2'),
       url('https://scite-production.azureedge.net/assets/fonts/scite-icons/scite-icons.woff?68837754') format('woff'),
       url('https://scite-production.azureedge.net/assets/fonts/scite-icons/scite-icons.ttf?68837754') format('truetype'),
       url('https://scite-production.azureedge.net/assets/fonts/scite-icons/scite-icons.svg?68837754#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.scite-icon {
    font-family: 'scite-icons' !important;
    speak: none;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1 !important;
}

.scite-icon-unclassified:before {
    content: "\e80a";
    color: #828179;
}

.scite-icon-contradicting:before {
    content: "\e80a";
    color: #F39C12;
}

.scite-icon-mentioning:before {
    content: "\e902";
    color: #393F43;
}

.scite-icon-supporting:before {
    content: "\e903";
    color: #2ECC71;
}
