@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

.sciteApp {
  z-index: 9999999999;
  position: fixed;
  right: 0;
  top: 45%;
  border-radius: 8px 0 0 8px;
  border: 1px solid #cfcfcf;
  border-right: none;
  overflow: hidden;
}

@media print {
  .sciteApp {
    display: none;
  }
}

@font-face {
  font-family: 'scite-icons';
  src: url('moz-extension://__MSG_@@extension_id__/fonts/scite-icons/scite-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'scite-icons';
  src: url('moz-extension://__MSG_@@extension_id__/fonts/scite-icons/scite-icons.eot');
  src:
    url('moz-extension://__MSG_@@extension_id__/fonts/scite-icons/scite-icons.eot') format('embedded-opentype'),
    url('moz-extension://__MSG_@@extension_id__/fonts/scite-icons/scite-icons.woff2?v=5') format('woff2'),
    url('moz-extension://__MSG_@@extension_id__/fonts/scite-icons/scite-icons.woff?v=5') format('woff'),
    url('moz-extension://__MSG_@@extension_id__/fonts/scite-icons/scite-icons.ttf?v=5') format('truetype'),
    url('moz-extension://__MSG_@@extension_id__/fonts/scite-icons/scite-icons.svg?v=5#fontello') format('svg');
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/scite-icons/scite-icons.eot');
  src:
    url('chrome-extension://__MSG_@@extension_id__/fonts/scite-icons/scite-icons.eot') format('embedded-opentype'),
    url('chrome-extension://__MSG_@@extension_id__/fonts/scite-icons/scite-icons.woff2?v=5') format('woff2'),
    url('chrome-extension://__MSG_@@extension_id__/fonts/scite-icons/scite-icons.woff?v=5') format('woff'),
    url('chrome-extension://__MSG_@@extension_id__/fonts/scite-icons/scite-icons.ttf?v=5') format('truetype'),
    url('chrome-extension://__MSG_@@extension_id__/fonts/scite-icons/scite-icons.svg?v=5#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
